body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }

  header {
    background-color: #9db8f0;
    color: #fff;
    padding: 1em;
    text-align: center;
  }

  nav {
    background-color: #908c8c;
    color: #fff;
    padding: 1em;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
  }

  section {
    padding: 2em;
  }

  .gift-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gift-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1em;
    overflow: hidden;
    width: 300px;
  }

  .gift-card img {
    max-width: 100%;
    height: auto;
  }

  .gift-details {
    padding: 1em;
    text-align: center;
  }

  .gift-details h3 {
    margin: 0;
    color: #333;
  }

  .gift-details p {
    color: #777;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding:50px;
    text-align: center;
   
    bottom: 0;
    width: 100%;
    margin-top: 20px;
  }